body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Roboto";
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    height: 72px;
    padding: 0px;
    margin: 0px;
    color: #F9FAF8;
    font-size: 24px;
    
}

.title-header {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    font-weight: 900;
    flex-shrink: 0;
}

.header-list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 40px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    font-weight: 0;
}

.body {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
}

.text-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 300px;
    padding-right: 100px;
}

.coolcat {
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-main {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text 
{
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 90px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.body-illustration {
    display: flex;
    flex-direction: column;
}

.illustration-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.images {
    display: flex;
    flex-basis: 100%;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

.kitties {
    display: flex;
    height: 200px;
    border: 5px solid;
    border-color: #3882F6;
    width: 200px;
    border-radius: 20%;
}

